html * {
    margin: 0;
    font: normal 1em/1.5em Arial, Helvetica, sans-serif;
}

/* GENERAL */

ul
{
	font-size: 14px;
}


.spinner {
    padding: 5px;
    position: absolute;
    right: 0;
}

body {
    background: #fff;
    color: #333;
    font: 14px verdana, arial, helvetica, sans-serif;
    margin-left: 10px;
    margin-right: 10px;
    width: auto;
}

#simheader {
    margin-top:10px;
    margin-right:20px;
}

#simmain {
  width: 100%;
  margin-top: 5px;
}

div.graypanel {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: #f3f3f3;
    padding: 10px;
}


#simmainlayout {
    padding-left:225px; /* "left col" width */ 
    position: relative;
}

.popup {
    display:none;
    position:fixed;
    height:400px;
    width:600px;
    background:#FFFFFF;
    border:2px solid #cecece;
    padding:10px;
    overflow: scroll;
}

.hidden {
    display: none;
}

#searchresults
{
	margin-top: 5px;
}


/* Nav */

#simnav {
    left: 0;
    position: absolute;
    width: 200px;
}

ul.plainlist {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-left:16px;
    border: none;
}

ul ul {
	margin: 5px 5px 5px 12px;
	display:none;
}

ul ul ul * {
	line-height: 16px;
}

ul a:link {
	text-decoration: none;
	color: #333333;
}

ul a:hover {
	color: #00749d;
}

ul h4.active, ul h3.active {
	background: transparent url(../images/arrow_blue_right.png) left center no-repeat;
	padding-left: 16px;
	color: #00749d;
}

ul h4.active:hover, ul h3.active:hover {
	background: transparent url(../images/arrow_blue_right.png) left center no-repeat;
}

ul h3, ul h4 {
	/*background: transparent url(../images/arrow_gray_right.png) left center no-repeat;*/
	padding-left: 4px;
	font-size: 14px;
	line-height: 16px;
	cursor:pointer;
}

ul h3:hover, ul h4:hover {
	background: transparent url(../images/arrow_blue_right.png) left center no-repeat;
	color: #00749d;
	padding-left: 16px;
}

